<div class="main-logo">
    <a href="/">
        <h1>Archive&</h1>
        <h1>Download</h1>
    </a>
</div>

<div class="main-wrapper-text">
    <h2><%= archive.website_domain %></h2>
    <p><%= archive.website_url %></p>

    <p><%= archive.torrent_link %></p>
</div>